@font-face {
    font-family: "Sovereign";
    src: url(fonts/sovereign/Sovereign_Font/Font/Sovereign.otf);
}
@font-face {
    font-family: "Sovereign-Regular";
    src: url(fonts/sovereign/Sovereign_Font/Font/sovereign-regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    max-width: 1920px;
    margin: auto;
}

header {
    max-width: 1920px;
}

#ContainerHeader {
    width: 100%;
    max-width: 1920px;
    height: 43.49vw;
    max-height: 835px;
    background-image: url("/img/BannerStarWarsHeader.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: top;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(27, 1fr);
}

.KyloRen {
    grid-area: 1 / 4 / 28 / 29;
    /* border: solid 2px red;     */
    /* display: grid; */
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-rows: repeat(6, 1fr); */
    z-index: 2;
}

.KyloRen img {
    width: 69.5vw;  
    max-width: 1353px;  
}

.StarHeader {
    grid-area: 23 / 6 / 24 / 29;
    /* border: solid 2px blue; */
    z-index: 1;
}

.StarHeader img {
    width: 23.8vw;
    max-width: 457px;
}

.WarsHeader {
    grid-area: 23 / 19 / 24 / 29 ;
    /* border: solid 3px green; */
}

.WarsHeader img {
    width: 26.1vw;
    max-width: 501px;
}

.CrieSuaLegiao {
    grid-area: 26 / 22 / 27 / 29 ;
    /* border: solid 3px orange; */
    z-index: 2;    
    transition: 1s;
}

.CrieSuaLegiao img {
    width: 9.2vw;
    max-width: 176px;
}

.CrieSuaLegiao:hover {
    transition: 1s;
    transform: scale(1.02);
    cursor: pointer;
}

#AT-ATMain {
    width: 100%;
    height: 76.146vw;
    max-height: 1462.0032px;
    background-image: url("img/ATATBGImage.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.AT-ATTopSection {
    width: 100%;
    height: 34vw;
    max-height: 652px;
    display: grid;
    grid-template-columns: repeat(24 ,1fr);
    grid-template-rows: repeat(12 ,1fr);
    /* border: solid 3px yellow; */
}

.ComeceAJogar {
    margin: -2.5vw 0 0 0;
    z-index: 2;
    /* border: solid 3px blue; */
    grid-area: 1 / 5 / 2 / 25;
}

.ComeceAJogar img {
    width: 20.729vw;
    max-width: 398px;
    transition: 1s;
}

.ComeceAJogar img:hover {
    transition: 1s;
    transform: scale(1.03);
    cursor: pointer;
}

.SobreOJogo {
    margin: -13.2vw 0 0 0;
    grid-area: 2 / 11 / 13 / 24;
    /* border: solid 3px red; */
    justify-self: end;
}

.SobreOJogo img {
    width: 49.479vw;
    max-width: 950px;
}

.LinhaCinza {
    grid-area: 12 / 5 / 13 / 24;
    /* border: solid 3px blue; */
}

.LinhaCinza img {
    width: 78.23vw;
    max-width: 1502px;
}

.AT-ATBottomSection {
    width: 100%;
    height: 42vw;
    max-height: 806.4px;
    display: grid;
    grid-template-columns: repeat(30 ,1fr);
    grid-template-rows: repeat(30 ,1fr);
    /* border: solid 3px red; */
}

.LordSifh {
    grid-area: 2 / 5 / 31 / 31;
    /* border: solid 3px blue; */
}

.LordSifh img {
    width: 44.063vw;
    max-width: 846px;
    /* background-color: lightcoral; */
}

.EstruturaDeJogo {
    width: 26.92vw;
    max-width: 517px;
    grid-area: 4 / 14 / 31 / 31;
    /* border: solid 2px red; */
}

.ContainerListaEstruturaDeJogo {
    height: 100%;
    max-height: 100%;
}

.TituloEstruturaDeJogo {
    font-size: 4vw;
    width: 100%;
    /* border: solid 3px green; */
}

.TituloEstruturaDeJogo,
.FilhoTituloEstruturaDeJogo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    text-transform: uppercase;
    text-align: end;
    font-weight: normal;
    /* color: black; */
}

.JOGONegrito {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: -3px;
    text-transform: uppercase;
    /* color: red; */
}

.ulEstruturaDeJogo {
    width: 100%;
    height: 29vw;
    max-height: 520.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    /* border: solid 2px blue; */
}

.liEstruturaDeJogo {
    width: 100%;
    display: flex;
    text-align: end;
    justify-content: end;
    /* border: solid 2px green; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.7vw;
    /* font-size: 1.5rem !important; */
    transition: 0.8s;
}

.liEstruturaDeJogo:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #D74430;
    color: white;
}

.EstruturaDeJogo img {
    width: 26.927vw;
    max-width: 517px;
    /* background-color: black; */
}

.Rey {
    grid-area: 6 / 23 / 31 / 31;
    /* border: solid 3px green; */
}

.Rey img {
    width: 20.729vw;
    max-width: 398px;
}

/* 11/12/2022 proxima section */

#grayBackGround {
    width: 100%;
    background-color: rgb(45, 45, 45);
}

#SectionAtributos {
    width: 100%;
    height: 50vw;
    max-height: 960px;
    padding: 9.23vw 140px 0 140px;
    background-size: cover;
}

.TituloAtributos {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2.6041666666667vw;
    color: white;
    /* border: solid 2px red; */
}

#ContainerCincoImagensAtributos {
    width: 100%;
    max-width: 1640px;
    /* height: 502px; */
    margin: 81.5px 0 0 0;
    display: flex;
    /* overflow: hidden; */
    /* border: solid 2px blue; */
}

.JediPushingStormTroopers {
    /* display: flex; */
    /* border: solid 2px blue; */
}

.JediPushingStormTroopers img {
    width: 42.92vw;
    max-width: 824px;
    max-height: 502px;
}

.containerQuatroImagensDireita {
    width: 42.708333333333vw;
    max-width: 820px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* border: solid 2px red; */
}

.containerQuatroImagensDireita div img {
    transition: all 1s;
}


.MachineGunStormTrooper {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
    /* border: solid 2px red; */
}

.MachineGunStormTrooper img {
    /* width: 50% !important; */
    width: 21vw;
    max-width: 410px;
}

.Guerra {
    position: relative;
    grid-area: 1 / 2 / 2 / 3;
    /* border: solid 2px blue; */
}

.Guerra img {
    width: 21vw;
    max-width: 410px;
}

.StarShipsFight {
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    /* border: solid 2px blue; */
}

.StarShipsFight img {
    width: 21vw;
    max-width: 410px;
}

.ThreeStormTroopers {
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
}

.ThreeStormTroopers img {
    width: 21vw;
    max-width: 410px;
}

.NovosGráficos {
    position: absolute;
    top: 0;
    left: 0;
    /* grid-area: 1 / 1 / 2 / 2; */
}

.NovosGráficos img {
    width: 100%;
    max-width: 410px;
    opacity: 0;
}

.NovosGráficos img:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.05);
}

#SectionHierarquia {
    width: 100%;
    height: 70vw;
    max-height: 1300px;
    padding: 0 140px 0 140px;
    /* border: solid 3px green; */
}

.Hierarquia {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    /* border: solid 3px red; */
}

.Hierarquia img {
    width: 100%;
    max-width: 1640px;
}

.ContainerEmNormasEspeciais {
    margin: 1.5vw 0 0 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    /* border: solid 3px blue; */
}

.EmNormasEspeciais {
    width: 60vw;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    line-height: 2rem;
    text-align: right;
}

.ContainerComoJogar {
    width: 100%;
    height: 15vw;
    max-height: 288px;
    margin: -2px 0 0 0; /* Margin só para retirar linha branca que fica entre as divisões da seções*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* border: solid 3px red; */
    background-color: #2D2D2D;
}

.ComoJogar {
    grid-area: 1 / 2 / 2 / 2 span;
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-family: "Sovereign", sans-serif;
    text-align: center;
    /* border: solid 2px blue; */
}

/* Footer */

#SectionSilverStormTrooperAndTresButtonFooter {
    padding: 0 7.29vw 0 7.29vw;
}

.SilverStormTrooper {
    margin: -25vw 0 0 0;
    width: 27.96875vw;
    max-width: 537px;
    /* border: solid 3px red; */
}



/* .containerQuatroImagensDireita img:hover {
    transition: 1s;
    background-image: url(img/Grupo\ novos\ graficos.svg);
    background-size: cover;
    opacity: 0.1;
} */

/* Usando esse valor de min-width pois meu monitor é 2560x1080 */
@media (min-width: 1921px) {
    .TituloEstruturaDeJogo {
        font-size: 5rem;
    }
    .liEstruturaDeJogo {
        font-size: 2rem;
    }
    .SectionAtributos{
        padding: 178.5px 140px 0 140px;
    }
    .TituloAtributos {
        font-size: 50px !important;
        color: red;
    }
    .SilverStormTrooper {
        margin: -29rem 0 0 0;
    }
}